body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.top {
  background-color: #1f2937;
  color: #f9faf8;
  height: 600px;
  padding-right: 350px;
  padding-left: 350px;
  margin-top: 0%;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
.header-links {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.welcome-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.welcome-text-main {
  display: flex;
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  padding: 5px;
  margin: 10px;
  height: 100px;
}
.welcome-text-secondary {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  padding: 5px;
  margin: 10px;
}
.welcome-image {
  display: flex;
  background-color: #14243a;
  height: 230px;
  width: 350px;
}

.mid {
  background-color:#e5e7eb;
  height: 600px;
  padding-right: 350px;
  padding-left: 350px;
  margin-top: -100px;
  ;
}

.mid-title{
  color:  #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding-top: 50px;
}

.info{
  display: flex;
  justify-items: stretch;
  gap: 200px;

  
}

.image-box{
  height: 100px;
  width: 100px;
  background-color: #e5e7eb;
  border-color: #3882f6;
  border-width: 3px;
  border-radius: 10%;
  border-style: solid;
  
}

.info-box{
  font-weight: lighter;
  font-size: medium;

}